rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /publicBoards/{boardId} {
      allow read: if true;
      allow create: if request.auth != null && request.resource.data.ownerUid == request.auth.uid;
      allow update, delete: if request.auth != null && resource.data.ownerUid == request.auth.uid;
    }
  }
}
